<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Register User</h2>
      <hr>
      <form (ngSubmit)="onRegister()" [formGroup]="registerForm">
          <div class="form-group">
            <label for="user">Username</label>
            <input type="user" id="user" formControlName="user" class="form-control">
          </div>
          <div class="form-group" style="float: center;">
            <label for="role">Role</label>
            <select id="role" formControlName="role" class="form-control center-block">
              <option *ngFor="let role of roles" [value]="role" >{{ role }}</option>
            </select>
            <span class="help-block" *ngIf="!registerForm.get('role').valid && registerForm.get('role').touched">You must add the task priority</span>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control">
          </div>
          <button class="btn btn-primary" type="submit">{{ updatingUser ? 'Update' : 'Register' }}</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </form>
    </div>
  </div>
</div>
