.rounded1 {
  background: rgb(201, 202, 204);
  border: 10px solid rgb(255, 255, 255);
  border-radius: 30px 30px;
}
.rounded2 {
  border: 1.5px solid rgb(215, 217, 255);
  padding: 10px;
  border-radius: 30px 30px;
  background: rgb(244, 244, 250);
  margin-bottom: 5px;
}
.row {
  width: 100%;
  max-width: 2000px;
}
p {
  word-wrap: break-word;
}
headText {
  border-radius: 10px;
  background: rgb(156, 193, 223);
}

