<div class="sidebar-sticky">
  <ul class="nav flex-column">
    <li class="nav-item" style="cursor: pointer;" (click)="showUserTickets()">
      <h5 id="text">Your Tickets</h5>
    </li>
    <hr>
    <span class="nav-item">
      <h4 id="text">Your Projects</h4>
    </span>
    <li class="nav-item" *ngFor="let project of projects" id="projects" (click)="onTicketsShow(project, false)" style="cursor: pointer;">
      <ng-container *ngIf="hasAccess(project)"><span id="text">{{ project.name }}</span></ng-container>
    </li>
    <hr>
    <span class="nav-item" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="cursor: pointer;" (click)="showAll = !showAll">
      <h4 id="text">All Projects {{showAll ? '+' : '-'}}</h4>
    </span>
    <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
      <li class="nav-item" *ngFor="let project of allProjects" id="projects" (click)="onTicketsShow(project, true)" style="cursor: pointer;">
        <ng-container *ngIf="project!== null "><span id="text">{{ project.name }}</span></ng-container>
      </li>
    </div>
  </ul>
</div>
<div class="container-fluid">
  <div class="row text-right">
    <div class="col-md-12">
      <br>
      <button type="button" class="btn btn-success" (click)="onCreateTicket()">Create Ticket</button>
    </div>
  </div>
  <br><br>
  <div class="row text-center">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>

