.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: gray;
  width: 15%;
  text-align: center;
}

#projects {
  color: white;
  font-weight: bold;
}

.btn-circle {
  border-radius: 50%;
}

h5 {
  color: rgb(94, 217, 226);
}

