<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-12">
      <br><br>
      <span *ngIf="!usersLoaded">
        <h3>Please, log in to start using the application!</h3>
        <hr>
        <app-login></app-login>
      </span>
      <span *ngIf="modulesLoaded">
        <h3>Welcome to the Bussiness Intelligence and Management Solution</h3>
        <p>Please choose the module you wish to work on!</p>
        <hr>
        <button class="btn-lg btn-default" *ngIf="modules[0].status === 'Active'" style="cursor: pointer" routerLinkActive="active" routerLink="task-manager">Task Manager</button>
        <button class="btn-lg btn-default" *ngIf="modules[1].status === 'Active'" style="cursor: pointer" routerLinkActive="active" routerLink="ticketing/tickets-explorer/tickets-list">Ticketing</button>
        <button class="btn-lg btn-default" *ngIf="modules[2].status === 'Active'" style="cursor: pointer" routerLinkActive="active" routerLink="info-manager">Info Manager</button>
      </span>
      <br><br>
      <router-outlet></router-outlet>
    </div>
</div>
