<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h4>Task Name [ID = {{task.id}}]</h4>
      <p>{{ task.name}}</p>
      <h4>State</h4>
      <p>{{ task.state}}</p>
      <h4>Description</h4>
      <p>{{ task.details}}</p>
      <hr>
      <h5>Task Reporter</h5>
      <p>{{ task.reporter}}</p>
      <h5>Task Assignee</h5>
      <p>{{ task.assignee}}</p>
      <button type="button" class="btn btn-success" (click)="onEditTask()">Edit Task</button>
      <button type="button" class="btn btn-group-xs" (click)="onGoBack()">Go Back</button>
    </div>
</div>
