<h2>{{ showUserTickets? 'All Tickets' : projectSelected.name }}</h2>
<br>
<div class="btn-group" role="group" *ngIf="!allProjectsTickets || showUserTickets">
  <button type="button" class="btn btn-primary" (click)="onAssignedTickets()" [ngStyle]="{'color': assignedTickets ? 'white' : 'rgb(133, 184, 241)'}">Assigned Tickets</button>
  <button type="button" class="btn btn-primary" (click)="onOpenedTickets()" [ngStyle]="{'color': assignedTickets ? 'rgb(133, 184, 241)' : 'white'}">Your Opened Tickets</button>
</div>
<br><br>
<span *ngIf="assignedTickets || allProjectsTickets">
  <span *ngIf="!showUserTickets">
    <div class="row text-center">
      <div class="col-md-11">
        <span style="font-weight: bold">Search by id: </span><input type="text" [(ngModel)]="filteredID"><br>
        <hr>
        <span style="font-weight: bold">Filter by status: </span>
        <mat-form-field>
          <mat-select placeholder="Choose Status" [(ngModel)]="filteredStatus">
            <mat-option *ngFor="let stat of status" [value]="stat">{{stat}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="table table-responsive" align="center" *ngIf="projectSelected !== null">
      <thead>
        <tr>
            <th>Id</th>
            <th>Summary</th>
            <th>Description</th>
            <th>Ticket Reporter</th>
            <th>Assigned Project</th>
            <th>State</th>
            <th>Priority</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets; let i = index" (click)="onSelectTicket(i)" style="cursor: pointer;">
          <ng-container *ngIf="ticket.destProject.name === this.projectSelected.name && showTicket(ticket)">
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.summary }}</td>
            <td>{{ ticket.description }}</td>
            <td>{{ ticket.ticketReporter.name }}</td>
            <td>{{ ticket.destProject.name }}</td>
            <td><span [ngStyle]="{'color': ticket.state === 'Open' ? 'green' : (ticket.state === 'Under Work' ? 'grey' : 'default')}">{{ ticket.state }}</span></td>
            <td><span [ngStyle]="{'color': ticket.priority === 'High' ? 'red' : (ticket.priority === 'Medium' ? 'blue' : 'default')}">{{ ticket.priority }}</span></td>
            <td *ngIf="canEdit([ticket.ticketReporter.name, ticket.destProject.name])"><button class="btn-xs btn-success" (click)="onEditTicket(i)">Edit</button></td>
          </ng-container>
        </tr>
      </tbody>
    </div>
  </span>
  <span *ngIf="showUserTickets">
      <div class="row text-center">
        <div class="col-md-11">
          <span style="font-weight: bold">Search by id: </span><input type="text" [(ngModel)]="filteredID"><br>
          <hr>
          <span style="font-weight: bold">Filter by status: </span>
          <mat-form-field>
            <mat-select placeholder="Choose Status" [(ngModel)]="filteredStatus">
              <mat-option *ngFor="let stat of status" [value]="stat">{{stat}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="table table-responsive" align="center">
        <thead>
          <tr>
              <th>Id</th>
              <th>Summary</th>
              <th>Description</th>
              <th>Ticket Reporter</th>
              <th>Assigned Project</th>
              <th>State</th>
              <th>Priority</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of tickets; let i = index" (click)="onSelectTicket(i)" style="cursor: pointer;">
            <ng-container *ngIf="hasAccess(ticket.destProject.roleAccess) && showTicket(ticket)">
              <td>{{ ticket.id }}</td>
              <td>{{ ticket.summary }}</td>
              <td>{{ ticket.description }}</td>
              <td>{{ ticket.ticketReporter.name }}</td>
              <td>{{ ticket.destProject.name }}</td>
              <td><span [ngStyle]="{'color': ticket.state === 'Open' ? 'green' : (ticket.state === 'Under Work' ? 'grey' : 'default')}">{{ ticket.state }}</span></td>
              <td><span [ngStyle]="{'color': ticket.priority === 'High' ? 'red' : (ticket.priority === 'Medium' ? 'blue' : 'default')}">{{ ticket.priority }}</span></td>
              <td *ngIf="canEdit([ticket.ticketReporter.name, ticket.destProject.name])"><button class="btn-xs btn-success" (click)="onEditTicket(i)">Edit</button></td>
            </ng-container>
          </tr>
        </tbody>
      </div>
    </span>
</span>
<span *ngIf="openedTickets && !allProjectsTickets">
  <span *ngIf="!showUserTickets">
    <div class="row text-center">
      <div class="col-md-11">
        <span style="font-weight: bold">Search by id: </span><input type="text" [(ngModel)]="filteredID"><br>
        <hr>
        <span style="font-weight: bold">Filter by status: </span>
        <mat-form-field>
          <mat-select placeholder="Choose Status" [(ngModel)]="filteredStatus">
            <mat-option *ngFor="let stat of status" [value]="stat">{{stat}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="table table-responsive" align="center" *ngIf="projectSelected !== null">
      <thead>
        <tr>
            <th>Id</th>
            <th>Summary</th>
            <th>Description</th>
            <th>Ticket Reporter</th>
            <th>Assigned Project</th>
            <th>State</th>
            <th>Priority</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets; let i = index" (click)="onSelectTicket(i)" style="cursor: pointer;">
          <ng-container *ngIf="ticket.ticketReporter.name === projectSelected.name && showTicket(ticket)">
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.summary }}</td>
            <td>{{ ticket.description }}</td>
            <td>{{ ticket.ticketReporter.name }}</td>
            <td>{{ ticket.destProject.name }}</td>
            <td><span [ngStyle]="{'color': ticket.state === 'Open' ? 'green' : (ticket.state === 'Under Work' ? 'grey' : 'default')}">{{ ticket.state }}</span></td>
            <td><span [ngStyle]="{'color': ticket.priority === 'High' ? 'red' : (ticket.priority === 'Medium' ? 'blue' : 'default')}">{{ ticket.priority }}</span></td>
            <td *ngIf="canEdit([ticket.ticketReporter.name, ticket.destProject.name])"><button class="btn-xs btn-success" (click)="onEditTicket(i)">Edit</button></td>
          </ng-container>
        </tr>
      </tbody>
    </div>
  </span>
  <span *ngIf="showUserTickets">
    <div class="row text-center">
      <div class="col-md-11">
        <span style="font-weight: bold">Search by id: </span><input type="text" [(ngModel)]="filteredID"><br>
        <hr>
        <span style="font-weight: bold">Filter by status: </span>
        <mat-form-field>
          <mat-select placeholder="Choose Status" [(ngModel)]="filteredStatus">
            <mat-option *ngFor="let stat of status" [value]="stat">{{stat}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="table table-responsive" align="center">
      <thead>
        <tr>
            <th>Id</th>
            <th>Summary</th>
            <th>Description</th>
            <th>Ticket Reporter</th>
            <th>Assigned Project</th>
            <th>State</th>
            <th>Priority</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets; let i = index" (click)="onSelectTicket(i)" style="cursor: pointer;">
          <ng-container *ngIf="hasAccess(ticket.ticketReporter.roleAccess) && showTicket(ticket)">
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.summary }}</td>
            <td>{{ ticket.description }}</td>
            <td>{{ ticket.ticketReporter.name }}</td>
            <td>{{ ticket.destProject.name }}</td>
            <td><span [ngStyle]="{'color': ticket.state === 'Open' ? 'green' : (ticket.state === 'Under Work' ? 'grey' : 'default')}">{{ ticket.state }}</span></td>
            <td><span [ngStyle]="{'color': ticket.priority === 'High' ? 'red' : (ticket.priority === 'Medium' ? 'blue' : 'default')}">{{ ticket.priority }}</span></td>
            <td *ngIf="canEdit([ticket.ticketReporter.name, ticket.destProject.name])"><button class="btn-xs btn-success" (click)="onEditTicket(i)">Edit</button></td>
          </ng-container>
        </tr>
      </tbody>
    </div>
  </span>
</span>


