  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">BIMS</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/task-manager">Task Manager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/ticketing">Ticketing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/info-manager">Info Manager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/people-and-processes">People and Processes</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-sm2">
        <a class="nav-link" routerLink="" (click)="onLogout()">Logout</a>
        <a class="nav-link" routerLinkActive="active" routerLink="">User Area</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/administrator">Administration</a>
      </ul>
    </div>
  </nav>
