<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-12">
      <div class="btn-group" appDropdown >
        <button type="button" class="btn btn-group-lg dropdown-toggle" >
          {{ projectSelected ? projectSelected : 'Select Project' }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a (click)="selectProject(project, i)" style="cursor: pointer;" *ngFor="let project of projects; let i = index">{{ project.name }}</a>
          </li>
        </ul>
      </div>
    </div>
    <br><br>
    <hr>
    <div class="col-md-12" *ngIf="projectSelected && (startedEditing === null)">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" routerLinkActive="active" routerLink="{{projectSelectedIndex}}/tasks" >Tasks</button>
        <button type="button" class="btn btn-primary" routerLinkActive="active" routerLink="{{projectSelectedIndex}}/tasks-board">Kanban Board</button>
      </div>
    </div>
  </div>
  <br><br>
  <router-outlet></router-outlet>
</div>
