<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-12">
      <br>
      <h3 *ngIf="!isLoaded()">Loading</h3>

      <div class="dropdown" *ngIf="isLoaded()">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ projectSelected ? projectSelected : 'Select Project' }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a (click)="selectProject(project, i)" style="cursor: pointer;" *ngFor="let project of projects; let i = index"><p>{{ project.name }}</p></a>
        </div>
      </div>
    </div>
    <hr>
    <div class="col-md-12" *ngIf="projectSelected && (startedEditing === null)">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" routerLinkActive="active" routerLink="tasks" >Tasks</button>
        <button type="button" class="btn btn-primary" routerLinkActive="active" routerLink="tasks-board">Kanban Board</button>
      </div>
    </div>
  </div>
  <br><br>
  <router-outlet></router-outlet>
</div>
